:root {
  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright:  hsl(245, 75%, 52%);

  --neutral-very-pale: hsl(225, 100%, 98%);
  --neutral-desaturate: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);

  --neutral-hover: hsl(245, 83%, 68%);

  --fm-atributtion: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Red Hat Display', sans-serif;
  max-height: 100%;
}

body {
  background-color: var(--primary-pale);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  max-width: 1440px;
  min-height: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  body {
      background-image: url("../images/pattern-background-mobile.svg");
  }
  .container {
    max-width: 350px;
  }

  .container img {
    max-width: 100%;
  }
}

  body p {
  font-size: 16px;
}

.container {
  width: 450px;
  background-color: var(--neutral-very-pale);
  overflow: hidden;
  border-radius: 20px;
  margin: 80px auto;
  text-align: center;
  padding-bottom: 50px;
  box-shadow: 0 20px 20px var(--primary-pale);
}

.container h1 {
  font-weight: 900;
  color: var(--neutral-dark);
  text-align: center;
  padding-top: 50px;
}

.container p {
  max-width: 360px;
  margin: 20px auto;
  color: var(--neutral-desaturate);
  text-align: center;
  line-height: 1.5em;
}

.container .details {
  height: 48px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.details .title {
  font-weight: 700;
  color: var(--neutral-dark)
   
} 

.details .price {
  color: var(--neutral-desaturate);
  
}

.details a {
  align-items: left;
  padding-left: 80px;
  font-weight: 700;
}

.details a:visited {
  color: var(--primary-bright);
}

.details a:hover {
  color: var(--neutral-hover);
  text-decoration: none;
}

.container button {
  margin: 30px auto;
  height: 60px;
  width:80%;
  background-color: var(--primary-bright);
  color:var(--neutral-very-pale);
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius: 15px;
  box-shadow: 0 20px 20px var(--primary-pale);
  
}

.container button:hover {
  background-color: var(--neutral-hover);
  cursor: pointer;
}

.container .details-footer a {
  text-decoration: none;
  font-weight: 700;
}

.container .details-footer a:visited {
  color: var(--neutral-desaturate); 
}

.container .details-footer a:hover {
  color: var(--neutral-dark);
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: var(--fm-atributtion); 
}
